// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

.container-fluid{
    padding-left: 0rem;
    padding-right: 0rem;
    overflow: hidden;
}

